@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #f4f5f7;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.fz-18 {
  font-size: 18px;
}

.fw-700 {
  font-weight: 700;
}

.lh-20 {
  line-height: 20px;
}

.text-center {
  text-align: center;
}

.link {
  text-decoration: none;
}

.full_width {
  width: 100%;
}

.flex {
  display: flex;
}

a {
  color: #344563;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800 ease;
  -o-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  transition: all 800ms ease;
}

.logo:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: cale(0.9);
}

.logo_link {
  font-style: normal;
  color: rgb(96, 112, 255);
}

.logo_link:hover {
  color: rgb(34, 48, 210);
}

.button {
  padding: 12px;
  background-color: rgb(64, 83, 252);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.51px;
  line-height: 24px;
  text-align: center;
  color: white;
}

.button-outline {
  padding: 12px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(127, 140, 255);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.51px;
  line-height: 24px;
  text-align: center;
  color: rgb(96, 112, 255);
  background: #fff;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  transition: background 0.8s ease-in-out, color 0.8s ease-in-out;
}

.button-outline:hover {
  background-color: rgb(34, 48, 210);
  border-color: rgb(34, 48, 210);
  color: white;
  -webkit-animation-name: button-outline-hover;
  animation-name: button-outline-hover;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes button-outline-hover {
  100% {
    box-shadow: inset 11rem 0 0 0 rgb(34, 48, 210), 0 8px 16px rgba(64, 83, 252, 0.24);
    color: #fff;
  }
}

@keyframes button-outline-hover {
  100% {
    box-shadow: inset 11rem 0 0 0 rgb(34, 48, 210), 0 8px 16px rgba(64, 83, 252, 0.24);
    color: #fff;
  }
}

.tag_button {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgb(235, 235, 255);
  border-radius: 8px;
  border: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.36px;
  line-height: 16px;
  color: rgb(96, 112, 255);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 16px;
}

.mobile-menu {
  order: 1;
}

.mobile-menu:hover {
  color: rgb(34, 48, 210);
}

.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.heading::before {
  content: "";
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heading {
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-bottom-left-radius: 5rem;
  z-index: 10;
  background-color: #fff;
}

.heading__title {
  color: rgb(9, 30, 66);
  margin-bottom: 12px;
}

.heading__desc {
  color: #344563;
  font-weight: 400;
  margin-bottom: 20px;
}

.heading__connect {
  font-weight: 500;
  color: rgb(127, 140, 255);
  margin-top: 14px;
  margin-bottom: 14px;
}

.heading__icons {
  margin: 0.5rem 0;
}

.heading__icons__ul {
  align-items: center;
  justify-content: space-between;
  width: 11rem;
}

.tonic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border-radius: 24px;
  border: solid 1px rgb(223, 225, 230);
  align-content: flex-start;
}

.tonic:hover {
  box-shadow: 0 48px 48px rgba(37.12, 47.22, 137.06, 0.08);
  border: solid 1px rgb(96, 112, 255);
}

.tonic .image {
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800 ease;
  -o-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  transition: all 800ms ease;
}

.tonic .image:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: cale(0.9);
}

.content .title {
  font-weight: 700;
  color: #091e42;
  margin-bottom: 12px;
}

.content .desc {
  color: rgb(52, 69, 99);
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
}

.content .summary {
  margin-bottom: 24px;
}

.content .summary span {
  margin-right: 12px;
}

.content .summary .dotted {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgb(193, 199, 208);
  border-radius: 9999px;
}

.content .summary .color {
  color: rgb(107, 119, 140);
}

.content .tagging {
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 40px;
}

.tagging li {
  padding-right: 5px;
}

.about {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: -50px;
}

.about .casualose .border-bottom {
  border-bottom: 1px solid #d9dbdf;
}

.about .casualose .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.about .casualose .header span {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(52, 69, 99);
}

.about .casualose .language li {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  margin: 10px 0;
  padding: 12px 8px;
  background: #f7f7f9;
}

.footer {
  flex-direction: column;
  position: relative;
  border-top-left-radius: 5rem;
  z-index: 10;
  background-color: rgb(96, 112, 255);
  justify-content: center;
  align-items: center;
}

.footer .decoration {
  position: absolute;
  right: 0;
  top: 0;
}

.footer .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: white;
  margin-bottom: 12px;
}

.footer .desc {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: rgb(235, 235, 255);
  margin-bottom: 20px;
}

input,
textarea {
  padding: 15px;
  margin: 9px 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(207, 216, 220);
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: rgb(23, 43, 77);
}

::placeholder {
  color: rgb(179, 186, 197);
}

.footer .contact-button {
  padding-top: 12px;
}

.about .info .button-outline {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

@media all and (min-width: 375px) {
  .is_mobile {
    display: block;
  }

  .is_desktop {
    display: none;
  }

  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .mobile-menu {
    flex: 1;
    text-align: right;
    order: 2;
  }

  .heading::before {
    background-image: url("../images/shape_mobile.svg");
  }

  .heading {
    padding: 10rem 1.5rem;
  }

  nav {
    padding-right: 15px;
    padding-left: 10px;
  }

  .heading__title {
    font-size: 40px;
    line-height: 52px;
  }

  .heading__desc {
    font-size: 16px;
    line-height: 24px;
  }

  .tonic {
    margin: 2rem;
    padding: 1.5rem;
    grid-template-columns: none;
  }

  .tonic img {
    width: 100%;
  }

  .content {
    padding: 24px 0;
  }

  .content .title {
    font-size: 32px;
    line-height: 44px;
  }

  .content .desc {
    font-size: 15px;
    line-height: 24px;
  }

  .content .summary {
    font-size: 13px;
    line-height: 16px;
  }

  .about {
    padding: 3rem 3rem 15rem 3rem;
    grid-template-columns: none;
  }

  .about .info,
  .about .casualose {
    width: 100%;
  }

  .about .casualose {
    padding: 0;
  }

  .footer {
    padding: 102px 12px 48px 24px;
  }

  .footer .desc {
    width: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 32px;
  }

  .footer form {
    padding: 0 3rem 0 0;
  }

  .footer .contact-button {
    flex-direction: row;
    width: 100%;
    padding-left: 0.5rem;
  }

  .footer .button-outline {
    justify-content: flex-start;
    flex-flow: column;
  }

  input,
  textarea {
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mobile-menu {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .is_mobile {
    display: none;
  }

  .is_desktop {
    display: block;
  }

  .heading::before {
    background-image: url("../images/shape_desktop.svg");
  }

  .heading {
    padding: 8rem;
  }

  nav {
    padding-right: 155px;
    padding-left: 100px;
  }

  .heading__title {
    font-size: 48px;
    line-height: 60px;
  }

  .heading__desc {
    font-size: 20px;
    line-height: 28px;
  }

  .tonic {
    margin: 2rem;
    padding: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }

  .content {
    padding: 24px;
  }

  .content .title {
    font-size: 40px;
    line-height: 52px;
  }

  .content .desc {
    font-size: 16px;
    line-height: 24px;
  }

  .content .summary {
    font-size: 18px;
    line-height: 24px;
  }

  .about {
    padding-bottom: 8rem;
    grid-template-columns: 1fr 1fr;
  }

  .about .info {
    width: 100%;
  }

  .about .casualose {
    width: 100%;
    padding: 0 2rem;
  }

  .about .casualose .language {
    display: flex;
    -moz-column-gap: 12px;
    column-gap: 12px;
  }

  .about .casualose .language li {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 6.6rem;
  }

  .footer::before {
    background-image: url("../images/footer_desktop.svg");
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .footer {
    padding: 8rem 5rem;
  }

  .footer .contact-button {
    flex-direction: row;
    display: flex;
    justify-content: center;
  }

  .footer .desc {
    width: 569px;
  }

  .footer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  input,
  textarea {
    width: 447px;
  }
}

@media all and (min-width: 1440px) {
  .heading {
    padding: 13rem 16rem;
  }

  .tonic {
    margin: 7rem;
    grid-template-columns: 1fr 1fr;
  }

  .about {
    padding: 8rem 8rem 12rem 8rem;
  }
}
